<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/home/home.css">
    <title>Home</title>
</head>
<body>
    <div class="welcome">
        <h1>Welcome to my first API.</h1>
        <h2>What do you want to do?</h2>
    </div>
    <div class="insertUser">
        <li>
            <a href="insertUser">Insert a user</a>
        </li>
    </div>
    <div class="deleteUser">
        <li>
            <a href="deleteUser">Delete a user</a>
        </li>
    </div>
    <div class="updateUser">
        <li>
            <a href="updateUser">Update a user</a>
        </li>
    </div>
    <div class="getUser">
        <li>
            <a href="getUser">Get all users</a>
        </li>
    </div>
    <div class="getUserById">
        <li>
            <a href="getUserById">Get a user by ID</a>
        </li>
    </div>
</body>
</html>